env PORT;

worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    # Docker DNS 설정
    resolver 127.0.0.11 valid=30s ipv6=off;

    server {
        listen ${PORT};

        set $service_name "";
        set $remaining_path "";

        location / {
            return 200 '{"service_name": "$service_name", "remaining_path": "$remaining_path", "target_port": "null"}';

        }
    }
}